<div class="d-flex">
  
  <div class="home-page">
      
    </div>
  
    <div class="text">
      <div class="text-div">
        <div>
  
          <div class="welcome-msg">
            Welcome To Social Butterfly
          </div>
          <div class="hook-line">
            share your stories 
          </div>
          <div class="hook-line second-line">
             let's socialize in new way
          </div>
        </div>
  
        <button mat-flat-button color="warn" class="home-page-button" (click)="openBottomSheet()">
            Get started 
        </button>
        <!-- <button mat-flat-button color="warn" class="home-page-button" (click)="route()">
            route zz
        </button> -->
    </div>
  </div>
  </div>

  <router-outlet></router-outlet> 